@helper createFooter()
{
    <div id="footer">
    <hr />
            <div class="footerDiv">
                <label class="customerSupportImage"></label>
                <label class="customerSupportTitleImage"></label>
                <br />
                <a class="footerLink" href="/ProductWarranty">Product Warranty</a>
                <br />
                <a class="footerLink" href="/ReturnsPolicy">Returns Policy</a>
            </div>

            <div id="verticalRule"></div>

            <div class="footerDiv">
                <label class="shoppingInfoImage"></label>
                <label class="shoppingInfoTitleImage"></label>
                <br />
                <a class="footerLink" href="/ProductWarranty">About Satchpack</a>
            </div>

            <div id="verticalRule2"></div>

            <div class="footerDiv">
                <label class="twitterSocialImage"></label>
                <label class="followUsTitleImage"></label>
                <br />
                <a class="footerLink" href="www.Facebook.com/Satchpack">Facebook</a>
                <br />
                <a class="footerLink" href="www.Twitter.com/Satchpack">Twitter</a>
            </div>
    </div>
}
