@helper createFooter()
{
    <div id="footer">
                <img src="/Content/Images/customerSupport.png" />
            <div id="customerSupportFooter">
                <a href="#"><img src="/Content/Images/customerSupportTitle.png" /></a>
                <br />
                Product Warranty
                <br />
                Returns Policy
            </div>
            <div id="shoppingInfoFooter">
                <a href="#">Shopping Info</a>
                <br />
                About Satchpack
            </div>
            <div id="followUsFooter">
                <a href="#">Follow Us</a>
                <br />
                Facebook
                <br />
                Twitter
            </div>
    </div>
}
