@helper createFooter()
<<<<<<< HEAD
{
    <div class="clearfix">&nbsp;</div>
    <div id="footer">
        <div id="AboutSection">
            <h2>About</h2>
            <a href="#" class="footerLink">Return policy</a>
            <br /> 
            <a href="#" class="footerLink">Product warranty</a>
        </div>
        <div id="ProductSection">
            <h2>Product</h2>
            <a href="#" class="footerLink">Satchpack</a> 
            <br />
            <a href="#" class="footerLink">Product Features</a>        
        </div>
        <div id="FollowUsSection">
            <h2>Follow us</h2>
            <label><a href="http://www.facebook.com" class="facebook"></a></label>
            <label><a href="http://www.twitter.com" class="twitter"></a></label>
        </div>

    </div>
    <div id="copyrightSection">
        <label class="copyright">
            &copy; SATCHPACK 2012</label>
        <a href="#" class="webmasters">Webmasters</a>
=======
    {
    <div id="footer">
        <hr />
        <div class="footerDiv">
            <label class="customerSupportImage">
            </label>
            <label class="customerSupportTitleImage">
            </label>
            <br />
            <a class="footerLink" href="/ProductWarranty">Product Warranty</a>
            <br />
            <a class="footerLink" href="/ReturnsPolicy">Returns Policy</a>
        </div>
        <div id="verticalRule"></div>
        <div class="footerDiv">
            <label class="shoppingInfoImage">
            </label>
            <label class="shoppingInfoTitleImage">
            </label>
            <br />
            <a class="footerLink" href="/ProductWarranty">About Satchpack</a>
        </div>
        <div id="verticalRule2"></div>
        <div class="footerDiv">
            <label class="twitterSocialImage">
            </label>
            <label class="followUsTitleImage">
            </label>
            <br />
            <a class="footerLink" href="www.Facebook.com/Satchpack">Facebook</a>
            <br />
            <a class="footerLink" href="www.Twitter.com/Satchpack">Twitter</a>
        </div>
>>>>>>> 05ca4774d9521fed1abf0d7096c2f7ab8b809e6c
    </div>
}
