@helper createFooter()
{
    <div id="footer">
            <div id="customerSupportFooter">
                <a href="#">Customer Support</a>
                <br />
                Product Warranty
                <br />
                Returns Policy
            </div>
            <div id="shoppingInfoFooter">
                <a href="#">Shopping Info</a>
                <br />
                About Satchpack
            </div>
            <div id="followUsFooter">
                <a href="#">Follow Us</a>
                <br />
                Facebook
                <br />
                Twitter
            </div>
    </div>
}
