@helper createFooter()
{
    <div id="footer">
        <ul>
            <li>
                <a href="#">Customer Support</a>@*
                <br />
                Product Warranty
                <br />
                Returns Policy*@
            </li>
            <li>
                <a href="#">Shopping Info</a>@*
                <br />
                About Satchpack*@
            </li>
            <li>
                <a href="#">Follow Us</a>@*
                <br />
                Facebook
                <br />
                Twitter*@
            </li>
        </ul>
    </div>
}
