@helper createNav()
{
    <div class="navbar">
        <a class="navbar_Logo" href="#">
            <label class="satchpackLogo"></label>
        </a>
        <div class="navbar-inner">
            <ul class="nav">
                <li><a id="homePortal" href="@Href("/")">Home</a></li>
                <li class="divider-vertical"></li>
                <li><a id="storePortal" href="@Href("~/Shopping/Product")">Store</a></li>
                <li class="divider-vertical"></li>
                <li><a id="contactUsPortal" href="#">Contact Us</a></li>
                <li class="divider-vertical"></li>
                <li><a id="faqPortal" href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="navbar_cartLogo">
            <a href="@Href("~/Shopping/EditCart")">
                <label class="cart"></label>
                <b id="cartTotal">$173.98</b>
                <br />
                <b id="itemCount">2 items</b>
            </a>
        </div>
        <div id="navbar_checkout">
        <a href="@Href("~/Shopping/EditCart")">Checkout</a>
        </div>
    </div>
}