@helper createNav()
{
    <ul>
        <li id="nav_Home"><a href="#">Home</a></li>
        <li id="nav_Shop"><a href="#">Shop</a></li>
        <li id="nav_Contact"><a href="#">Contact Us</a></li>
        <li id="nav_Faq"><a href="#">FAQ</a></li>
        <li id="nav_Cart">Checkout</li>
    </ul>
}