@helper createNav()
    {
    <div id="navigationBar">
        <img src="/Content/images/SatchPackLogo.png" alt="yousuck"/>
        <ul>
            <li id="nav_Home"><a href="/">Home</a></li>
            <li id="nav_Shop"><a href="/Shop.asp">Shop</a></li>
            <li id="nav_Contact"><a href="/ContactUs.asp">Contact Us</a></li>
            <li id="nav_Faq"><a href="/FAQ.asp">FAQ</a></li>
            <li id="nav_Cart"><a href="/CheckOut.asp">Checkout</a></li>
        </ul>
    </div>
}