<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="PaypalVersion" value="60.0"/>
    <add key="ReturnURL" value="http://localhost:42155/Checkout/ReviewTransaction"/>
    <add key="CancelURL" value="http://localhost:42155/Checkout/CancelTransaction"/>

    <add key="Username" value="bus_1350451002_biz_api1.satchpack.com"/>
    <add key="Password" value="FA2S9MMBHWMY76TD"/>
    <add key="Signature" value="A4RmMU72o2OSLnQJknNAH.OeoTCVAHppt1-eJu.j.639RvKkMcvT6-bW"/>
  </appSettings>

  <system.web>
    <customErrors mode="Off" />

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PayPalAPISoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PayPalAPIAASoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PayPalAPISoapBinding1" />
        <binding name="PayPalAPIAASoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api-3t.sandbox.paypal.com/2.0/" binding="basicHttpBinding"
        bindingConfiguration="PayPalAPISoapBinding" contract="PayPalSandbox.PayPalAPIInterface"
        name="PayPalAPI" />
      <endpoint address="https://api-aa-3t.sandbox.paypal.com/2.0/" binding="basicHttpBinding"
        bindingConfiguration="PayPalAPIAASoapBinding" contract="PayPalSandbox.PayPalAPIAAInterface"
        name="PayPalAPIAA" />
    </client>
  </system.serviceModel>

  <connectionStrings>
    <add name="SatchpackAccess" connectionString="Data Source=tcp:mssql1.cloudsites.gearhost.com;Initial Catalog=satchpack;User ID=satchpack;Pwd=w7ddrb84;"/>
  </connectionStrings>
</configuration>
