.contactUs
{
    padding-left: 50px;
    font-size: x-large;
    font-weight: bold;
}

.contactUsText
{
    font-size: large;
    font-weight: bold;
    position: relative;
    right: -3px;
}

.messageText
{
    position: relative;
    top: 40px;
    float: left;
}
#body
{
    position: relative;
    height: 300px;
    width: 500px;
    top: 70px;
    left: -83px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size: 24px;
    color: Black;
    resize: none;
}
.nameText
{
    position: relative;
    top: 40px;
    right: 40px;
}
#name
{
    position: relative;
    left: -23px;
    top: -248px;
    height: 30px;
    left: 560px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size: 24px;
    width: 250px;
}
.emailText
{
    position: relative;
    top: -200px;
    left: 290px;
}
#email
{
    position: relative;
    float: right;
    top: -160px;
    height: 30px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size: 24px;
    width: 250px;
    right: 80px;
}

.submitButton
{
    position: relative;
    float: right;
    right: -111px;
    top: -90px; /* font-size: x-large; */
    height: 35px;
    border: none;
    background-color: #3399FF;
    color: White;
}

