.contactUs
{
    padding-left: 50px;
    font-size: x-large;
    font-weight: bold;
}

.contactUsText
{
    font-size: large;
    font-weight: bold;
    position: relative;
    right: 80px;
}

.messageText
{
    position: relative;
    top: 50px;
    float: left;
    left: 80px;
}
.mainInput
{
    position: relative;
    height: 300px;
    width: 500px;
    top: 60px;
    left: 80px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size: 24px;
    text-indent: 12px;
    padding-top: 12px;
    color: Black;
    resize: none;
}
.nameText
{
    position: relative;
    left: 130px;
    top: 30px;
}
.nameInput
{
    position: relative;
    left: -23px;
    top: 60px;
    height: 30px;
    left: 67px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size: 24px;
    width: 250px;
}
.emailText
{
    position: relative;
    right: 191px;
    top: 120px;
}
.emailInput
{
    position: relative;
    float: right;
    top: -160px;
    height: 30px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size: 24px;
    width: 250px;    
}

.submitButton
{
    position: relative;
    float: right;
    right: -111px;
    top: -90px;
    /* font-size: x-large; */
    height: 35px;
    border: none;
    background-color: #3399FF;
    color: White;
}

