#footer
{
    color: White;
    background-color: #333333;
    float: left;
    position:absolute;
    bottom: 25px;
    width: 960px;    
}

#footer h2
{
    font-size: 25px;
    font-weight: normal;
    margin: 0 0 15px 0;
}

#footer a
{
    color: #6D6E71;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal; 
    margin: 0 0 10px 15px;
    display: inline-block;   
}

#footer a:hover
{
    color: White;    
}

#AboutSection,
#ProductSection
{
    width: 310px;
    margin: 15px 0 0 15px;    
}

#FollowUsSection
{
    width: 200px;  
    margin: 15px 0 0 15px;   
}

#AboutSection
{
    float: left;
    border-right: 1px solid gray;    
}

#AboutSection h2
{
    
}

#AboutSection a
{
    
}

#ProductSection
{
    float: left;
    border-right: 1px solid gray;    
}

#ProductSection a
{
    
}

#ProductSection h2
{
    
}

#FollowUsSection
{
    float: left;    
}

#FollowUsSection label
{
    margin: 0 10px;
}

#copyrightSection
{
    float: left;
    padding: 5px 0; 
    width: 960px;
    position: absolute;
    bottom: 0;       
}

#copyrightSection a
{
    color: Black;
}

.copyright
{
    font-weight: bold; 
    margin: 0 0 0 6px;       
}

.webmasters
{
    float: right;
    margin: 0 6px 0 0;
    font-weight: bold;    
}

.footerLink
{
        
}

.facebook,
.twitter
{
    float: left; 
    cursor: pointer;   
}

.facebook
{
    background: url(../images/facebook.png);
    width: 22px;
    height: 45px;
    display: block;    
}

.facebook:hover
{
    background: url(../images/facebook_hover.png);        
}

.twitter
{
    background: url(../images/twitter.png);
    width: 61px;
    height: 42px;
    display: block;        
}

.twitter:hover
{
    background: url(../images/twitter_hover.png);         
}
