/** Styling for Home Controller **/
div#mainSection
{
    float: left;    
}

div#mainSection ul
{
    
}

div#mainSection ul > li
{
    
}


img.mainPhotos
{
    width: 850px;
    height: 350px;         
}

div.caroufredsel_wrapper
{
        
}

div.clearfix
{
    float: none;
    clear: both;    
}

#pagSection
{
    float: left;  
    left: 445px;
    position: relative;
    bottom: 41px;  
}

#pagSection > a
{
    background: url("../images/idleDot.png");        
    display: block;
    width: 10px;
    height: 10px;
    float: left; 
    margin: 3px;           
}

#pagSection > a.selected
{
    background: url("../images/selectedDot.png");        
    display: block;
    width: 10px;
    height: 10px;         
}

#pagSection > a span
{
    display: none;    
}

#prevBtn
{
    bottom: 183px;
    position: relative;
    right: 36px;    
}

#nextBtn
{
    bottom: 219px;
    float: right;
    position: relative;
    left: 35px;        
}

div#shoppingSection
{
           
}

div#shoppingSection span
{
    
}

div#productSpecsSection
{
     
}

div#productSpecsSection span
{
    
}

div#imageGallerySection
{
          
}

div#imageGallerySection span
{
        
}

div#videoGallerySection
{
          
}

div#videoGallerySection span
{
        
}

div#shoppingSection span,
div#productSpecsSection span,
div#imageGallerySection span,
div#videoGallerySection span
{
    font-weight: bold;
    font-family: Tahoma;
    font-size: 24px;
    color: White;
    margin: 10px;
}