html, body
{
    height: 100%;        
}

body
{
    background: url(../images/satchpackOuterBg.png);
    width: 960px;  
    margin: 0 auto;
}

#wrapper
{
    background: url(../images/satchpackInnerBg.png);
    border-left: 3px solid #180000;
    border-right: 3px solid #180000;
    min-height: 100%;  
    margin: 0 auto -150px;
}

.main
{
    padding-bottom: 150px;
    overflow: hidden;          
}

.boxShadow
{
    background: #180000;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.85);        
}

.splashImg
{
    display: block;
    cursor: pointer;    
}

.clearfix
{
    float: none;
    clear: both;    
}

.radius
{
    /* Border radius */
    -webkit-border-radius: 15px;
    -moz-border-radius:    15px;
    border-radius:         15px;        
}

.shadow
{
    /* Box shadow */
    -webkit-box-shadow: 0px 0px 13px rgba(38, 41, 41, 0.7);
    -moz-box-shadow:    0px 0px 13px rgba(38, 41, 41, 0.7);
    box-shadow:         0px 0px 13px rgba(38, 41, 41, 0.7);        
}

div.navbar-inner ul.nav li a:hover
{
    background-color: White; 
    color: Black; 
}