#navigationBar ul
{
    margin: 0;
    padding: 5px;
    list-style-type: none;
    text-align: center;
    font-size: xx-large;
}

#navigationBar ul li
{
    display: inline;
}

#navigationBar ul li a
{
    text-decoration: none;
    padding: .2em 1em;
}

#navigationBar ul li a:hover
{
    color: red;
    background-color: #000;
}
