/** Styling for Shop Controller **/

#shopTopSection
{
    float: left;
    margin: 0 0 25px 0; 
    width: 100%;   
}

#shopTopHeader
{
    
}

#shopTopHeader h2
{
    font-size: 30px;
    margin: 12px 12px 21px 68px;    
}

/** SHOP LEFT SECTION **/

#shopLeft
{
    float: left;   
    width: 253px;
    margin: 53px 0 0 53px;
}

.bigSatchpack
{
    width: 177px;
    height: 212px;
    display: block;        
}

#productThumbnailsSection
{
    float: left; 
    margin: 10px 0;   
}

#productThumbnailsSection label
{
    float: left;   
}

.full-width
{
    
}

.productThumb
{
    width: 33px;
    height: 37px;
    display: block;
    cursor: pointer;         
}

.colorThumb
{
    width: 24px;
    height: 22px;  
    display: block; 
    cursor: pointer;    
}

.colorThumb:hover
{
    border: 3px solid #FF7700;
}

#productCustomColors:hover
{
    border: none;    
}

#productViewDefault
{
    background: url(../images/Satchpack_Red_Product.png);            
}

#productViewOne
{
    background: url(../images/viewOne.png);        
}

#productViewTwo
{
    background: url(../images/viewTwo.png);    
}

#productViewThree
{
    background: url(../images/viewThree.png);    
}

#productViewFour
{   
    background: url(../images/viewFour.png);    
}

#productViewFive
{
    background: url(../images/viewFive.png);    
}

#productViewSix
{
    background: url(../images/viewSix.png);    
}

#productColorSection
{
    float: left;
    clear: left;  
    margin: 10px 0 0 10px;      
}

#productColorSection a
{
    display: block; 
    float: left;      
}

#productColorSection label
{
    float: left;
    margin: 0 4px 0 0;
}

#productColorOne
{
    background: url(../images/red.png);          
}

#productColorTwo
{
    background: url(../images/silver.png);     
}

#productColorThree
{
    background: url(../images/blue.png);     
}

#productColorFour
{
    background: url(../images/purple.png);         
}

#productColorFive
{
    background: url(../images/yellow.png);     
}

#productColorSix
{
    background: url(../images/green.png);     
}

#productCustomColors
{
    background: url(../images/more.png);         
}

/** SHOP MIDDLE SECTION **/

#shopMiddle
{
    float: left;   
    padding: 0 20px; 
    border-right: 1px solid;
    border-left: 1px solid;    
}

#shopMiddle div
{
    
}

#productFeaturesTable
{
    margin: 11px 0;    
}

#productFeaturesTable tr
{
    border-bottom: 1px solid lightgray;        
}

#productFeaturesTable tr td
{
    padding: 5px 0;
    width: 140px;    
}

/** SHOP RIGHT SECTION **/

#shopRight
{
    float: left;      
}

#shopMiddle h3,
#shopRight h3
{
    /*margin: 0 0 0 15px;*/
    font-size: 16px;            
}

#shopRight div
{
    padding: 5px;        
}

.text
{
    font-size: 19px;  
    float: left;
    margin: 0 0 0 4px;     
}

.red
{
    color: #D80000;    
}

.moneySign
{
    font-weight: bold;
    position: relative;
    bottom: 11px;
    display: inline;
    float: left;   
}

.price
{
    font-size: 29px; 
    float: left;   
}

#pricingText
{
    position: relative;
    top: 74px;
    left: 113px; 
    display: inline-block;       
}

.radiusBorder
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;         
}

#cartBtn
{
    position: relative;
    top: 90px;
    left: 93px;
    background-color: #3B942A;
    float: left;
    clear: both; 
}

#cartBtn:hover
{
    background-color: #3BC92A;    
}

/** SHOP BOTTOM SECTION **/

#shopBottomSection
{
    float: left;
    clear: left;
    width: 94%;
    margin: 0 31px;                  
}

#productTabs a
{
    padding: 3px;        
}

#priceTagContainer
{
    position: relative;
    top: 78px;
    left: 93px;
    float: left;        
}

.photosIcon
{
    background: url(../images/photos.png); 
    float: left;                
}

.videosIcon
{
    background: url(../images/videos.png); 
    float: left;          
}

.tabThumbnail
{
    width: 24px;
    height: 22px;  
    display: block;
    margin: 0 5px 0 0;
}

input[value*='Cart']
{
    border: none;
    background-color: transparent;
    color: White;  
    background: url(../images/cart.png) no-repeat; 
    display: block;
    width: 125px;
    height: 38px;  
    padding: 0 0 0 35px;
}

form
{
    margin: 0;    
}

.colorSelected
{
    border: 3px solid black;
}

/****   Review Transaction Page   ****/

.orderSummaryHeader
{
        
}

#orderSummary
{
    
}

#shippingInfo
{
    
}

#orderSummary span
{
        
}

#contactInfo
{
    
}

#contactInfo span
{
    
}

#contactInfo label
{
    
}

#confirmPayment
{
    
}

#warrantyLink:visited
{
    color: Red;
}