@{
    ViewBag.Title = "Satchpack.com ~ Satchpack";
}
<link href="@Url.Content("~/Content/css/ShopStyle.css")" type="text/css" rel="Stylesheet" />

<script type="text/javascript">
    $(document).ready(
        function ()
        {
            $("#productTabs").tabs();
        }
    );
</script>

<div id="shopTopSection">
    <div id="shopTopHeader">
        <h2>Satchpack</h2>    
    </div>
    <div id="shopLeft">
        <label id="productViewDefault" class="bigSatchpack"></label>
        <div id="productThumbnailsSection" class="full-width">
            <label id="productViewOne" class="productThumb"></label>
            <label id="productViewTwo" class="productThumb"></label>
            <label id="productViewThree" class="productThumb"></label>
            <label id="productViewFour" class="productThumb"></label>
            <label id="productViewFive" class="productThumb"></label>
            <label id="productViewSix" class="productThumb"></label>
        </div>
        <div id="productColorSection" class="full-width">
            <label id="productColorOne" class="colorThumb"></label>
            <label id="productColorTwo" class="colorThumb"></label>
            <label id="productColorThree" class="colorThumb"></label>
            <label id="productColorFour" class="colorThumb"></label>
            <label id="productColorFive" class="colorThumb"></label>
            <label id="productColorSix" class="colorThumb"></label>
            <label id="productCustomColors" class="colorThumb"></label>
        </div>    
    </div>
    <div id="shopMiddle">
        <div>
            <h3>Overview</h3>
        </div>
        <table id="productFeaturesTable">
            <tr>
                <td>Laptop Compartment Dimensions:</td>
                <td>15.25" x 10.5" x 2"</td>
            </tr>
            <tr>
                <td>Size:</td>
                <td>Large</td>
            </tr>
            <tr>
                <td> Dimensions:</td>
                <td>20" x 13" x 9.5"</td>
            </tr>
            <tr>
                <td>Weight:</td>
                <td>3 lbs, 1 oz</td>
            </tr>
            <tr>
                <td>Capacity:</td>
                <td>2015 cu. in.</td>
            </tr>
            <tr>
                <td>Material:</td>
                <td>420D nylon / 1680 Ballistics</td>
            </tr>
            <tr>
                <td>Warranty:</td>
                <td><a href="#">See warranty document.</a></td>
            </tr>
        </table>
    </div>
    <div id="shopRight">
        <div>
            <h3>Pricing</h3>
        </div>
        <label id="pricingText" class="text red">Our price:</label>
        <br />
        <div id="priceTagContainer">
            <label class="moneySign red">$</label>
            <label class="price red">99.00</label>
            <label class="text red">USD</label>
        </div>

        <div id="cartBtn">
            <label class="cartIcon"></label>
            <label class="cartText btnText">&nbsp; Add to cart</label>
        </div>     
    </div>
</div>

<div id="shopBottomSection">
    <div id="productTabs">
        <ul>
            <li>
                <label class="photosIcon tabThumbnail"></label>
                <a href="#productPhotoGallery">Photo Gallery</a>
            </li>
            <li>
                <label class="videosIcon tabThumbnail"></label>
                <a href="#productVideoGallery">Video Gallery</a>
            </li>
        </ul>
        <div id="productPhotoGallery">
            <label class="comingSoon">Content to be posted soon.</label>
        </div>
        <div id="productVideoGallery">
            <label class="comingSoon">Content to be posted soon.</label>        
        </div>
    </div>    
</div>