@{
    ViewBag.Title = "Product";
}

<h2>Satchpack</h2>

<div id="mainProductSection">
    <div id="rightSection">
        <span id="productThumbnail"></span>
    </div>
    <div id="leftSection">
        <label>
            Price: $99.00
            <span>(+ $9.99 S&H)</span> 
        </label>
        <label>
            Quantity:
            <input name="productQty" type="text" value="1" />
        </label>
        <input name="productCart" type="button" />
        <
    </div>

    
</div>



