@{
    ViewBag.Title = "ContactUs";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/css/ContactUs.css")" rel="stylesheet" type="text/css" />
    <title>Faq</title>
</head>
<body>
    <h2>
        Contact Us
    </h2>
    <br />
    For sales, or sales questions, please email us at: <a href="mailto:sales@satchpack.com">
        sales@satchpack.com</a>
    <br />
    <br />
    For Help relating to the Satchpack, or Customer Support, please email us at: <a href="mailto:support@satchpack.com">
        support@satchpack.com</a>
    <br />
    <br />
    Send all products that need to be fixed to:
    <br />
    <br />
    4416 N Half Mile Rd.
    <br />
    Enoch, Utah 84121
    <br />
    <br />
    Please include your name, address, email, phone number (including area code) and
    product receipt with the item along with a description of the problem. State law
    requires that items be clean before being returned for repair or replacement. Products
    repaired or replaced under warranty will be returned free of charge.
</body>
</html>
