@{
    ViewBag.Title = "ContactUs";
}
<!DOCTYPE html>
<script type="text/javascript">
    $(document).ready(
        function () {
            $('ul.nav li').removeClass('active');
            $('#contactUsPortal').parent().addClass('active');
        }
    );
</script>
<html>
<head>
    <link href="@Url.Content("~/Content/css/ContactUs.css")" rel="stylesheet" type="text/css" />
    <title>Contact Us</title>
</head>
<body>
    <div class="contactUs">
        <h2>
            Contact Us
        </h2>
        <div class="contactUsText">
            If you have comments, questions or concerns, do not hesitate to let us know: 
            <b class="messageText">Message:</b>
            <textarea class="mainInput"></textarea>
            <b class="nameText">Name:</b>
            <input class="nameInput" />
            <b class="emailText">Email:</b>
            <input class="emailInput" />
            <button class="submitButton radius" type="submit">
                Send Message</button>
        </div>
    </div>
</body>
</html>
