@{
    ViewBag.Title = "ContactUs";
}
<!DOCTYPE html>
<script type="text/javascript">
    $(document).ready(
        function () {
            $('ul.nav li').removeClass('active');
            $('#contactUsPortal').parent().addClass('active');
        }
    );
</script>
<html>
<head>
    <link href="@Url.Content("~/Content/css/ContactUs.css")" rel="stylesheet" type="text/css" />
    <title>Contact Us</title>
</head>
<body>
    <div class="contactUs">
        <h2>
            Contact Us
        </h2>
        <div class="contactUsText">
            If you have comments, questions or concerns, do not hesitate to let us know:
            @using (Html.BeginForm("ContactUsSendEmail", "Email"))
            {
                <b class="messageText">Message:</b>
                @Html.TextArea("body")
                
                <b class="nameText">Name:</b>
                @Html.TextBox("name")
                
                <b class="emailText">Email:</b>
                @Html.TextBox("email")
                
                <button class="submitButton radius" type="submit">
                    Send Message</button>
            }
        </div>
    </div>
</body>
</html>
