<!DOCTYPE html>
<script type="text/javascript">
    $(document).ready(
        function () {
            $('ul.nav li').removeClass('active');
            $('#faqPortal').parent().addClass('active');
            $('.accordion-toggle').click(
                function () {
                    var elementId = $(this).attr('href').toString()
                    var element = document.getElementById(elementId);
                    if ($(element).hasClass('collapse')) {
                        $(element).removeClass('collapse');

                    } else {
                        $(element).addClass('collapse');
                    }

                    $(this).children().toggleClass('plusButton');
                    $(this).children().toggleClass('minusButton');
                }
             );
        }
    );
</script>
<html>
<head>
    <link href="@Url.Content("~/Content/css/Faq.css")" rel="stylesheet" type="text/css" />
    <title>Faq</title>
</head>
<body>
    <div class="Faq">
        <h2>
            Frequently Asked Questions</h2>
        <div class="emailSupport">
            <ul>
                <li class="divider-vertical"></li>
            </ul>
            <ul class="emailSupportList">
                <li id="emailSupport">Email Support</li>
                <br />
                <li>Can't find the answer to your</li>
                <li>question? Send us an email</li>
                <li>with your question to:</li>
                <br />
                <a class="emailLink" href="mailto:support@satchpack.com">support@satchpack.com</a>
            </ul>
        </div>
        <div class="accordion" id="accordion2">
            <br />
            Product:
            <br />
            <br />
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="collapseOne">
                        <label class="plusButton">
                        </label>
                        &nbsp; What is a Satchpack? </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Satchpack is an elegant and versatile shoulder based/messenger bag and backpack
                        able to carry all your essentials items together. (Laptop, iPad/tablet, iPhone,
                        documents, books, binders etc.) It is constructed and manufactured in USA with top
                        of the line Nylon fabrics and components. The Satchpack adds enhancements to the
                        user and can be carried everywhere as your companion and confident helper for many
                        years.
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="collapseTwo">
                        <label class="plusButton">
                        </label>
                        &nbsp; Made in the USA? Do you get the materials from the USA also? </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                        OF COURSE! We support other U.S. businesses and make sure we get quality materials.
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="collapseThree">
                        <label class="plusButton">
                        </label>
                        &nbsp; Can I buy a backpack here? </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Our product IS a backpack.
                    </div>
                </div>
            </div>
            <br />
            <br />
            Customization:
            <br />
            <br />
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="collapseFour">
                        <label class="plusButton">
                        </label>
                        &nbsp; What colors are available?</a>
                </div>
                <div id="collapseFour" class="accordion-body collapse">
                    <div class="accordion-inner">
                        As of now we have the following colors available:
                        <ul>
                            <li>Red</li>
                            <li>Silver</li>
                            <li>Forest Green</li>
                            <li>Royal Blue</li>
                            <li>Olive</li>
                            <li>Taupe</li>
                            <li>Main color: Black</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <br />
            Returns:
            <br />
            <br />
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="collapseSix">
                        <label class="plusButton">
                        </label>
                        &nbsp; What type of warranty does it come with? </a>
                </div>
                <div id="collapseSix" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul>
                            <li>Satchpack.com warrants the product to be free of defects of materials and craftsmanship
                                at the time of purchase and warrants the product for a full year from the date of
                                purchase. (Receipt with date of purchase is required for any warranty issue)</li>
                            <li>The product warranty is determined after the return and inspection of the product
                                to verify veracity of product failure.</li>
                            <li>The product is only warrantied to be fixed or replaced (not to be returned for money
                                refund)</li>
                            <li>The product is not warrantied when the end user/customer abuses the product by using
                                it to carry uncovered sharp objects or blades or by misusing or damaging the product
                                on purpose.</li>
                            <li>The product is not warrantied when the end user/ customer abuses the product by
                                dragging it on rough surfaces or by extremely pulling parts outside of normal use
                                or by banging the product against anything.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="collapseSeven">
                        <label class="plusButton">
                        </label>
                        &nbsp; So may I put an angry cat in it? </a>
                </div>
                <div id="collapseSeven" class="accordion-body collapse">
                    <div class="accordion-inner">
                        You can... but the product is warrantied for a full year during <u>normal</u> use
                        only (and that would be animal abuse). So you may not.
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="collapseEight">
                        <label class="plusButton">
                        </label>
                        &nbsp; Where do I send my satchpack to be fixed? </a>
                </div>
                <div id="collapseEight" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Send all products that need to be fixed to:
                        <br />
                        <br />
                        4416 N Half Mile Rd.
                        <br />
                        Enoch, Utah 84721
                        <br />
                        <br />
                        Please include your name, address, email, phone number (including area code) and
                        product receipt with the item along with a description of the problem. State law
                        requires that items be clean before being returned for repair or replacement. Products
                        repaired or replaced under warranty will be returned free of charge.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
