@{
    ViewBag.Title = "Satchpack.com";
}

<div class="wrapper">
    <div id="mainSection">
        
    </div>

    <div id="shoppingSection">

    </div>

    <div id="productSpecsSection">

    </div>

    <div id="imageGallerySection">

    </div>

    <div id="videoGallerySection">

    </div>
</div>
